# Various IDEs and Editors
.vscode/
.idea/
**/*~

# Mac OSX temporary files
.DS_Store
**/.DS_Store

# icp temporary files
.icp/cache/

# frontend code
node_modules/
dist/
frontend/src/bindings/

.mops
target

# build files
build/
out/*
!out/.gitkeep