name: App build
on:
  pull_request:
    types: [synchronize, opened, reopened, ready_for_review, unlabeled]

env:
  dfx_version: 0.20.1

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Node
        uses: actions/setup-node@v4

      - name: Install mops
        uses: ZenVoich/setup-mops@v1.3.1

      - name: Install dfx
        uses: dfinity/setup-dfx@main

      - name: Make sure moc is installed
        run: mops toolchain bin moc || mops toolchain use moc latest

      - name: Start local dfx
        run: dfx start --host 127.0.0.1:4943 --background

      - name: Build canisters and prepare tests
        run: |
          npm i
          npm run create
          npm run setup

      - name: Run mops tests
        run: |
          mops test

      - name: Run tests
        run: |
          npm run test

      - name: Stop local dfx
        run: dfx stop

      - name: Make bin directory
        run: mkdir -p /home/runner/bin

      - name: Get didc
        run: |
          release=$(curl --silent "https://api.github.com/repos/dfinity/candid/releases/latest" | awk -F\" '/tag_name/ { print $4 }')  	
          curl -fsSL https://github.com/dfinity/candid/releases/download/$release/didc-linux64 > /home/runner/bin/didc
          chmod +x /home/runner/bin/didc
          echo "/home/runner/bin" >> $GITHUB_PATH

      - name: Check implementation against public did file
        run: didc check .dfx/local/canisters/icrc1_auction_continuous/icrc1_auction_continuous.did did/icrc1_auction.did

      - name: Check public did file against icrc84 standard
        run: didc check did/icrc1_auction.did $(ls -d .mops/icrc-84*)/icrc-84.did
